* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Sans Serif Collection";
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #272626;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url("Images/back_railway.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px); /* Adjust blur strength as needed */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  z-index: 1000; /* Ensure navbar is above other content */
  width: 100%;
  flex-direction: row-reverse
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.35s;
  display: block; /* Added to ensure border-radius works */
  border-radius: 5px; /* Add border-radius to round the background */
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 15%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 35px;
  margin-top: 15px;
}

.header-text p:hover {
  opacity: 0.9;
  transform: scale(1.1);
  transition: 1.5s;
}

.header-text h1:hover {
  opacity: 0.9;
  transform: scale(1.1);
  transition: 1.5s;
}

.header-text h1 span {
  color: #ff004f;
}

.header-text p span {
  color: #ff004f;
}

.header-text p samp {
  color: chocolate;
}

/* ---------------about---------*/
#about {
  padding: 80px 0;
  color: #ababab;
}

.about-col-2 {
  height: 80%;
}

.tab-titles {
  display: flex;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.35s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
}

.tab-contents ul li span {
  color: #c53753;
  font-size: 14px;
}

.tab-contents ul li samp {
  color: #d37b2e;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.sub-title {
  font-size: 25px;
  font-weight: 600;
  height: 100%;
}

.aboutMeLeft {
  width: 50%;
  padding-right: 50px;
}

.aboutMeRight {
  width: 50%;
  padding-left: 50px;
}

.subdivision {
  width: 50%;
  float: left;
}

.subdivision h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subdivision ul {
  padding: 0;
}

.subdivision ul li {
  margin-bottom: 20px;
}

/*-------------project-------------*/
/*-------------project-------------*/
#Projects {
  padding: 30px 0;
}
.container h1 {
  font-size: 45px;
}
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.project-list div {
  background: #4e4a4a;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.project-list div i {
  font-size: 45px;
  margin-bottom: 30px;
}
.project-list div h2 {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 15px;
}
.project-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.project-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

/*------------work-----------*/
#work {
  padding: 50px 0;
}

.work-template {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  font-size: 13px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 45px;
  margin-bottom: 10px;
  color: #ff004f;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #d37b2e;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: azure;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff004f;
}
#work-more {
  display: none;
}
#work-more.visible {
  display: block;
  height: auto;
}

/*------------------contact------------*/
.contact-left {
  flex-basis: 35%;
}
/* Custom CSS to display contact-left and contact-right side by side */
.row {
  display: flex;
  flex-wrap: wrap;
}

.contact-left,
.contact-right {
  flex: 0 0 50%;
  /* Equal width for both sections */
  padding: 10px;
  /* Add spacing between the sections */
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #756d6d;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  color: #c2bbbb;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #1c1c1c;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
/* Other CSS styles... */

.btn.btn2 {
  display: inline-block;
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  background: #464344;
  /* Button background color */
  color: #fff;
  /* Button text color */
  border: none;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s;
}

.btn.btn2:hover {
  background: #ff001f;
  /* Change the background color on hover */
}

nav .fa-solid {
  display: none;
}
#msg{
    color: #61b752;
    margin-top: -50px;
    display: block;
}


/*-------small screen       fk it------------*/
@media only screen and (max-width: 600px) {
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}
