* {
    margin: 0;
    padding: 0;
    font-family: ' Poppins', 'Sans Serif Collection';
    box-sizing: border-box;
}
body{
    background: #272626;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("Images/back_railway.jpg");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.35s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 35px;
    margin-top: 15px;
}
.header-text p:hover{
    opacity: 0.8;
    transform: scale(1.1);
    transition: 1.5s;
}
.header-text h1:hover{
    opacity: 0.9;
    transform: scale(1.1);
    transition: 1.5s;
}
.header-text h1 span{
    color: #ff004f;
}
.header-text p span{
    color: #ff004f;
}
.header-text p samp{
    color: chocolate;
}
/* ---------------about---------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 25px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 0 0px 15px;/*15(last) is neeche vala dist and 500(middle)is 1st ka diost from left*/
}
.tab-links{
    margin-right: 375px;    /* distance between ek dusre */
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.35s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 1px 0px;/*(middle wala change)*/
}
.tab-contents ul li span{
    color: #c53753;
    font-size: 14px;
}
.tab-contents ul li samp{
    color: #d37b2e;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}